<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <classPathEntry
            location="C:\Users\MACHENIKE\.m2\repository\mysql\mysql-connector-java\8.0.17\mysql-connector-java-8.0.17.jar"/>
    <context id="MySQLTables" targetRuntime="MyBatis3">
        <property name="xmlFormatter"
                  value="org.mybatis.generator.api.dom.DefaultXmlFormatter"/>
        <property name="javaFormatter"
                  value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>
        <property name="javaFileEncoding" value="UTF-8"/>

        <plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>
        <!-- 配置生成自定义的类序列化接口的插件 -->
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>

        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://39.98.126.20:3306/test?serverTimezone=UTC"
                        userId="hanfu_admin" password="Davin1234!">
        </jdbcConnection>

        <javaTypeResolver>
            <property name="useJSR310Types" value="true"/>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <javaModelGenerator
                targetPackage="com.example.admin.center.model"
                targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mappers"
                         targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER"
                             targetPackage="com.example.admin.center.dao"
                             targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
        <!--授权登录-->
        <table schema="user_center" tableName="game_auth"
               domainObjectName="GameAuth">
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="id" sqlStatement="mysql"
                          identity="true"/>
        </table>
        <!--游戏管理-->
        <table schema="user_center" tableName="game_center"
               domainObjectName="GameCenter">
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="id" sqlStatement="mysql"
                          identity="true"/>
        </table>
        <!--文件管理-->
        <table schema="user_center" tableName="game_file"
               domainObjectName="GameFile">
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="id" sqlStatement="mysql"
                          identity="true"/>
        </table>
        <!--表单管理-->
        <table schema="user_center" tableName="game_form"
               domainObjectName="GameForm">
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="id" sqlStatement="mysql"
                          identity="true"/>
        </table>
        <!--表单项管理-->
        <table schema="user_center" tableName="game_form_item"
               domainObjectName="GameFormItem">
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="id" sqlStatement="mysql"
                          identity="true"/>
        </table>
        <!--表单的表单项-->
        <table schema="user_center" tableName="game_form_item_be"
               domainObjectName="GameFormItemBe">
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="id" sqlStatement="mysql"
                          identity="true"/>
        </table>
        <!--订单管理-->
        <table schema="user_center" tableName="game_orders"
               domainObjectName="GameOrders">
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="id" sqlStatement="mysql"
                          identity="true"/>
        </table>
        <!--轮播图-->
        <table schema="user_center" tableName="game_slideshow"
               domainObjectName="GameSlideshow">
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="id" sqlStatement="mysql"
                          identity="true"/>
        </table>
        <!--用户管理-->
        <table schema="user_center" tableName="game_user"
               domainObjectName="GameUser">
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="id" sqlStatement="mysql"
                          identity="true"/>
        </table>
        <!--用户通讯录-->
        <table schema="user_center" tableName="game_user_book"
               domainObjectName="GameUserBook">
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="id" sqlStatement="mysql"
                          identity="true"/>
        </table>
    </context>
</generatorConfiguration>