<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <classPathEntry
            location="C:\Users\MACHENIKE\.m2\repository\mysql\mysql-connector-java\8.0.17\mysql-connector-java-8.0.17.jar"/>
    <context id="MySQLTables" targetRuntime="MyBatis3">
        <property name="xmlFormatter"
                  value="org.mybatis.generator.api.dom.DefaultXmlFormatter"/>
        <property name="javaFormatter"
                  value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>
        <property name="javaFileEncoding" value="UTF-8"/>

        <plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>
        <!-- 配置生成自定义的类序列化接口的插件 -->
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>

        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://39.98.126.20:3306/test?serverTimezone=UTC"
                        userId="hanfu_admin" password="Davin1234!">
        </jdbcConnection>

        <javaTypeResolver>
            <property name="useJSR310Types" value="true"/>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <javaModelGenerator
                targetPackage="com.example.user.center.model"
                targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mappers"
                         targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER"
                             targetPackage="com.example.user.center.dao"
                             targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
<!--//行政区域-->
        <!--<table schema="user_center" tableName="house_administrative"-->
               <!--domainObjectName="HouseAdministrative">-->
            <!--<property name="useActualColumnNames" value="false"/>-->
            <!--<generatedKey column="id" sqlStatement="mysql"-->
                          <!--identity="true"/>-->
        <!--</table>-->
<!--&lt;!&ndash;授权登录&ndash;&gt;-->
        <!--<table schema="user_center" tableName="house_auth"-->
               <!--domainObjectName="HouseAuth">-->
            <!--<property name="useActualColumnNames" value="false"/>-->
            <!--<generatedKey column="id" sqlStatement="mysql"-->
                          <!--identity="true"/>-->
        <!--</table>-->
<!--&lt;!&ndash;标签&ndash;&gt;-->
        <!--<table schema="user_center" tableName="house_label"-->
               <!--domainObjectName="HouseLabel">-->
            <!--<property name="useActualColumnNames" value="false"/>-->
            <!--<generatedKey column="id" sqlStatement="mysql"-->
                          <!--identity="true"/>-->
        <!--</table>-->
<!--&lt;!&ndash;土地管理&ndash;&gt;-->
        <!--<table schema="user_center" tableName="house_land"-->
               <!--domainObjectName="HouseLand">-->
            <!--<property name="useActualColumnNames" value="false"/>-->
            <!--<generatedKey column="id" sqlStatement="mysql"-->
                          <!--identity="true"/>-->
        <!--</table>-->
<!--&lt;!&ndash;板块管理&ndash;&gt;-->
        <!--<table schema="user_center" tableName="house_plate"-->
               <!--domainObjectName="HousePlate">-->
            <!--<property name="useActualColumnNames" value="false"/>-->
            <!--<generatedKey column="id" sqlStatement="mysql"-->
                          <!--identity="true"/>-->
        <!--</table>-->
<!--&lt;!&ndash;板块标签&ndash;&gt;-->
        <!--<table schema="user_center" tableName="house_plate_label"-->
               <!--domainObjectName="HousePlateLabel">-->
            <!--<property name="useActualColumnNames" value="false"/>-->
            <!--<generatedKey column="id" sqlStatement="mysql"-->
                          <!--identity="true"/>-->
        <!--</table>-->
<!--&lt;!&ndash;楼盘管理&ndash;&gt;-->
        <!--<table schema="user_center" tableName="house_premises"-->
               <!--domainObjectName="HousePremises">-->
            <!--<property name="useActualColumnNames" value="false"/>-->
            <!--<generatedKey column="id" sqlStatement="mysql"-->
                          <!--identity="true"/>-->
        <!--</table>-->
<!--&lt;!&ndash;楼盘标签&ndash;&gt;-->
        <!--<table schema="user_center" tableName="house_premises_label"-->
               <!--domainObjectName="HousePremisesLabel">-->
            <!--<property name="useActualColumnNames" value="false"/>-->
            <!--<generatedKey column="id" sqlStatement="mysql"-->
                          <!--identity="true"/>-->
        <!--</table>-->
<!--&lt;!&ndash;楼盘图&ndash;&gt;-->
        <!--<table schema="user_center" tableName="house_premises_picture"-->
               <!--domainObjectName="HousePremisesPicture">-->
            <!--<property name="useActualColumnNames" value="false"/>-->
            <!--<generatedKey column="id" sqlStatement="mysql"-->
                          <!--identity="true"/>-->
        <!--</table>-->
<!--&lt;!&ndash;项目管理&ndash;&gt;-->
        <!--<table schema="user_center" tableName="house_project"-->
               <!--domainObjectName="HouseProject">-->
            <!--<property name="useActualColumnNames" value="false"/>-->
            <!--<generatedKey column="id" sqlStatement="mysql"-->
                          <!--identity="true"/>-->
        <!--</table>-->
<!--&lt;!&ndash;系统设置&ndash;&gt;-->
        <!--<table schema="user_center" tableName="house_system"-->
               <!--domainObjectName="HouseSystem">-->
            <!--<property name="useActualColumnNames" value="false"/>-->
            <!--<generatedKey column="id" sqlStatement="mysql"-->
                          <!--identity="true"/>-->
        <!--</table>-->
<!--&lt;!&ndash;户型&ndash;&gt;-->
        <!--<table schema="user_center" tableName="house_type"-->
               <!--domainObjectName="HouseType">-->
            <!--<property name="useActualColumnNames" value="false"/>-->
            <!--<generatedKey column="id" sqlStatement="mysql"-->
                          <!--identity="true"/>-->
        <!--</table>-->
<!--&lt;!&ndash;户型组成&ndash;&gt;-->
        <!--<table schema="user_center" tableName="house_type_constitute"-->
               <!--domainObjectName="HouseTypeConstitute">-->
            <!--<property name="useActualColumnNames" value="false"/>-->
            <!--<generatedKey column="id" sqlStatement="mysql"-->
                          <!--identity="true"/>-->
        <!--</table>-->
<!--&lt;!&ndash;户型图&ndash;&gt;-->
        <!--<table schema="user_center" tableName="house_type_picture"-->
               <!--domainObjectName="HouseTypePicture">-->
            <!--<property name="useActualColumnNames" value="false"/>-->
            <!--<generatedKey column="id" sqlStatement="mysql"-->
                          <!--identity="true"/>-->
        <!--</table>-->
<!--&lt;!&ndash;用户管理&ndash;&gt;-->
        <!--<table schema="user_center" tableName="house_user"-->
               <!--domainObjectName="HouseUser">-->
            <!--<property name="useActualColumnNames" value="false"/>-->
            <!--<generatedKey column="id" sqlStatement="mysql"-->
                          <!--identity="true"/>-->
        <!--</table>-->
<!--文件管理-->
        <!--<table schema="user_center" tableName="house_file"-->
               <!--domainObjectName="HouseFile">-->
            <!--<property name="useActualColumnNames" value="false"/>-->
            <!--<generatedKey column="id" sqlStatement="mysql"-->
                          <!--identity="true"/>-->
        <!--</table>-->
        <!--house_type_constitute_group-->
        <!--<table schema="user_center" tableName="house_type_constitute_group"-->
               <!--domainObjectName="HouseTypeConstituteGroup">-->
            <!--<property name="useActualColumnNames" value="false"/>-->
            <!--<generatedKey column="id" sqlStatement="mysql"-->
                          <!--identity="true"/>-->
        <!--</table>-->
        <!--楼号表-->
        <table schema="user_center" tableName="house_tower_no"
               domainObjectName="HouseTowerNo">
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="id" sqlStatement="mysql"
                          identity="true"/>
        </table>
        <!--库表-->
        <table schema="user_center" tableName="house_library"
               domainObjectName="HouseLibrary">
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="id" sqlStatement="mysql"
                          identity="true"/>
        </table>
        <!--楼号-库表-->
        <table schema="user_center" tableName="house_tower_library"
               domainObjectName="HouseTowerLibrary">
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="id" sqlStatement="mysql"
                          identity="true"/>
        </table>
        <!--库分类表-->
        <table schema="user_center" tableName="house_library_category"
               domainObjectName="HouseLibraryCategory">
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="id" sqlStatement="mysql"
                          identity="true"/>
        </table>
        <!--分类文本表-->
        <table schema="user_center" tableName="house_library_category_text"
               domainObjectName="HouseLibraryCategoryText">
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="id" sqlStatement="mysql"
                          identity="true"/>
        </table>
        <!--楼库-分类表-->
        <table schema="user_center" tableName="house_tower_library_category"
               domainObjectName="HouseTowerLibraryCategory">
            <property name="useActualColumnNames" value="false"/>
            <generatedKey column="id" sqlStatement="mysql"
                          identity="true"/>
        </table>
    </context>
</generatorConfiguration>